<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Foster Academics</title>
<link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="./assets/css/style.css" rel="stylesheet" type="text/css">
<link href="./assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<div class="footer margin_top5px">
  <div class="navbar">
    <div class="menu_bg navbar-inner no_padding_margin">
      <ul class="footer menu">
        <li class="active">
          <a class="border_left0px" [routerLink]="['terms_and_conditions']">Terms &amp; Conditions </a>
        </li>
        <li>
          <a [routerLink]="['policy']">Privacy Policy</a>
        </li>

        <li class="float-right search"> &copy; 2017 Foster Academics. All right reserved &nbsp;&nbsp; </li>
      </ul>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>


</html>
