<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Foster Academics :: About Us</title>
  <link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>



  <div class="logo_head">
    <a class="brand" href="#">
      <img src="images/publisher-logo.png" alt="Foster Academics, Books Publisher" title="Foster Academics"> </a>
    <div class="pull-right welcome" style="visibility:hidden"> Welcome
      <strong> Guest&nbsp;User</strong>
      <span class="pipe"> | </span>
      <a href="http://www.fosteracademics.com/signInHome.do"> Login </a>
      <!--          <span class="pipe"> | </span>  -->

      <!--     <button class="btn btn-mini" id="subscribeBtn"> Subscribe </button> -->
    </div>
  </div>
  <header>
    <!--end of Link	<div class="nav-collapse ">-->
    <nav class="navbar navbar-default nav_bg" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li style="padding-top:5px;"> </li>
          <li class="">
            <a href="index.html">
              <i class="fa fa-home"> </i>
            </a>
          </li>
          <li class="dividerPipe ">|</li>
          <li>
            <a href="aboutus.html" class="uppercase">About Us</a>
          </li>

          <li class="dividerPipe ">|</li>
          <li class="" style="margin-right:0;">
            <a href="sample.pdf" target="_blank">catalogue</a>
          </li>
          <li class="dividerPipe ">|</li>
          <li>
            <a href="contact-us.html" class="uppercase">Contact&nbsp;Us</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>

    <div class="col-xs-12 col-sm-5 col-md-3 pull-right text-right">
      <form class=" nopadding mobsearch" role="search">
        <div class="searchinput input-group">
          <input type="text" class="form-control" placeholder="Search" name="q">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <div class="advsearch pull-right a_btn" style="margin:3px 0 0 0;">
          <a class="submit nomargin padding3px_5px" href="http://www.fosteracademics.com/Advance-Search">
            <img src="images/a_plus.png" title="Advanced Search" alt="advanced&nbsp;Search"> </a>
        </div>
      </form>
    </div>

  </header>
  <div class="clearfix"></div>
  <div class="container-fluid wrapper">
    <div class="row ">

      <!--Column 1 starts-->

      <section class="col-md-3 col-sm-3 margin_top5px">
        <div class="sidebar-nav">
          <h1 class="sectionHeading">BROWSE BY</h1>
          <div class="clearfix"></div>
          <div class="accordion visible-desktop" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle text_uppercase" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  subject
                  <i class="pull-right">
                    <i class="fa fa-angle-down"></i>
                  </i>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <ul class="accordion-color">
                    <li>
                      <a title="Medical Science" href="#">Medical Science</a>

                    </li>
                    <li>
                      <a title="Pharmaceutical Sciences" href="#">Pharmaceutical Sciences</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>



            <div class="accordion-heading">
              <a class="accordion-toggle text_uppercase" href="http://www.fosteracademics.com/authors">AUTHOR / EDITOR</a>
            </div>
            <div class="accordion-heading uppercase">
              <a class="accordion-toggle text_uppercase" href="http://www.fosteracademics.com/titles">TITLE</a>
            </div>

            <!--Column 1 ends-->
            <div class="padding3px_5px border_wrapper margin_top5px hide" style="background-color:#F9F9F9" id="live_Coment1">
              <h2 class="text_uppercase margin_top5px text_uppercase"> stay connected </h2>
              <div class="border_bottom"> </div>
              <div class="center">
                <a href="https://www.facebook.com/allenpress" class="pull-left margin_right5px">
                  <i class="facebook_icon"> </i>
                </a>
                <a href="https://twitter.com/allenpress" class="pull-left margin_right5px">
                  <i class="twitter_icon"> </i>
                </a>
                <a href="#" class="pull-left margin_right5px hide">
                  <i class="youtube_icon"> </i>
                </a>
                <a href="http://www.linkedin.com/company/allen-press-inc/products" class="pull-left margin_right5px">
                  <i class="linkdin_icon"> </i>
                </a>
                <a href="http://allenpress.com/news/rss.xml" class="pull-left margin_right5px">
                  <i class="rss_icon"> </i>
                </a>
                <a href="#" class="pull-left margin_right5px hide">
                  <i class="wordpress_icon"> </i>
                </a>
              </div>
              <div class="clearfix"> </div>
              <div class="border_bottom"> </div>
              <div class="margin_top20px hide">
                <!--<img src="common/img/promotional_offers.jpg" alt="promotional offer" title="promotional offer" />-->
                <h2 class="text_uppercase "> Promotional Offers </h2>
                <br>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="col-md-9 col-sm-9 margin_top5px ">

        <div class="border_wrapper padding10px">
          <div id="bodydivs">
            <h1 class="sectionHeading heading-bg">About Us</h1>
            <p> Foster Academics is an academic publisher of scientific and medical books. Over the years, we've succeeded in
              establishing ourselves as one of the leading scientific publishers in the world.</p>
            <p>Most book titles published by us are written in direct response to customers’ needs by an international team
              of authors, ensuring that they are suited for and relevant to a global audience. We remain constantly in touch
              with the medical fraternity and professionals from diverse medical fields.
            </p>
            <p>We work with the aim of combining creativity and innovation to educate and inform students, academicians, researchers
              and other healthcare professionals on all current developments and findings in the field of medical and pharmaceutical
              sciences.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="footer margin_top5px">
    <div class="navbar">
      <div class="menu_bg navbar-inner no_padding_margin">
        <ul class="footer menu">
          <li class="active">
            <a class="border_left0px" href="/terms-and-conditions">Terms &amp; Conditions </a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>

          <li class="float-right search"> &copy; 2017 Foster Academics. All right reserved &nbsp;&nbsp; </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
