<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container-fluid wrapper">
    <div class="row ">

      <section class="col-md-9 col-sm-5 margin_top5px ">
        <div class="border_wrapper padding10px">
          <div id="bodydivs">
            <h1 class="sectionHeading heading-bg">About Us</h1>
            <p> Foster Academics is an academic publisher of scientific and medical books. Over the years, we've succeeded in
              establishing ourselves as one of the leading scientific publishers in the world.</p>
            <p>Most book titles published by us are written in direct response to customers’ needs by an international team
              of authors, ensuring that they are suited for and relevant to a global audience. We remain constantly in touch
              with the medical fraternity and professionals from diverse medical fields.
            </p>
            <p>We work with the aim of combining creativity and innovation to educate and inform students, academicians, researchers
              and other healthcare professionals on all current developments and findings in the field of medical and pharmaceutical
              sciences.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
<!-- <app-footer></app-footer> -->
