<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Foster Academics </title>
  <link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

  <!-- <div class="clearfix"></div> -->
  <div class="container-fluid wrapper">
    <div class="row ">

      <div class="col-sm-9 col-md-9 margin_top5px">
        <div class="border_wrapper padding10px">
          <div class="row ">

            <div class="col-sm-12 ">
              <div>
                <h1 class="text_uppercase border_bottom padding_bottom12px nomargin"> Author(s): </h1>
              </div>
            </div>

            <div class="col-md-12 col-xs-12 ">
              <div class="text_uppercase  padding_bottom12px">

                <div class="col-sm-12 no-pad">
                  <div class="ln-letters">
                    <ul class="abc nomargin">

                      <li>
                        <a class="a ln-selected" href="#" style="position: relative;">A </a>
                      </li>
                      <li>
                        <a class="b" href="#">B </a>
                      </li>
                      <li>
                        <a class="c" href="#">C </a>
                      </li>
                      <li>
                        <a class="d" href="#">D </a>
                      </li>
                      <li>
                        <a class="e" href="#">E </a>
                      </li>
                      <li>
                        <a class="f" href="#">F </a>
                      </li>
                      <li>
                        <a class="g" href="#">G </a>
                      </li>
                      <li>
                        <a class="h" href="#">H </a>
                      </li>
                      <li>
                        <a class="i" href="#">I </a>
                      </li>
                      <li>
                        <a class="j" href="#">J </a>
                      </li>
                      <li>
                        <a class="k" href="#">K </a>
                      </li>
                      <li>
                        <a class="l" href="#">L </a>
                      </li>
                      <li>
                        <a class="m" href="#">M </a>
                      </li>
                      <li>
                        <a class="n" href="#">N </a>
                      </li>
                      <li>
                        <a class="o  " href="#">O </a>
                      </li>
                      <li>
                        <a class="p" href="#">P </a>
                      </li>
                      <li>
                        <a class="q ln-disabled" href="#">Q </a>
                      </li>
                      <li>
                        <a class="r" href="#">R </a>
                      </li>
                      <li>
                        <a class="s" href="#">S </a>
                      </li>
                      <li>
                        <a class="t" href="#">T </a>
                      </li>
                      <li>
                        <a class="u ln-disabled" href="#">U </a>
                      </li>
                      <li>
                        <a class="v" href="#">V </a>
                      </li>
                      <li>
                        <a class="w" href="#">W </a>
                      </li>
                      <li>
                        <a class="x ln-disabled" href="#">X </a>
                      </li>
                      <li>
                        <a class="y ln-disabled" href="#">Y </a>
                      </li>
                      <li>
                        <a class="z   ln-last ln-disabled" href="#">Z </a>
                      </li>
                    </ul>
                    <div class="clearfix ln-last"></div>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="alpha_category margin_bottom10px text-capitalize">
                  <div class="pull-left">
                    <h3>1-50 of 561
                    </h3>
                  </div>
                  <div class="pull-right">
                    <!-- <h3>
                  <ex:searchresults>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=0" class="linktext" style="white-space:nowrap;">
                      First</a> |
                    <span class="bluelinks">
                      <b>1</b>
                    </span>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=50" class="linktext">2</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=100" class="linktext">3</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=150" class="linktext">4</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=200" class="linktext">5</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=250" class="linktext">6</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=300" class="linktext">7</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=350" class="linktext">8</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=400" class="linktext">9</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=450" class="linktext">10</a>
                    <a href="browseByTitle.do?title=all&amp;pager.offset=50" class="linktext" style="white-space:nowrap;">
                      Next </a> |
                    <a href="browseByTitle.do?title=all&amp;pager.offset=550" class="linktext" style="white-space:nowrap;">
                      Last</a>
                  </ex:searchresults>
                </h3> -->
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12">
              <div class="searchtitle-list">
                <ul class="list-unstyled">

                  <li> &nbsp;
                    <a href="/medical-science/9781632425034 ">A Clinical Guide to Eating Disorders</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632424747 ">A Clinician's Guide to Contemporary Healthcare</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632424419 ">A Clinician's Guide to Otolaryngology</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420053 ">A Clinician's Guide to Neuroimaging</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420060 ">A Complete Guide to Nursing: Volume I</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420077 ">A Complete Guide to Nursing: Volume II</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420084 ">A Complete Guide to Nursing: Volume III</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420091 ">A Complete Study of Cardiomyopathies</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420107 ">A Comprehensive Guide to Anopheles Mosquitoes</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420114 ">A Comprehensive Overview of HIV Infection</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420121 ">A Comprehensive Overview of Soft Tissue Tumors</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420138 ">A Modern Approach to Pediatrics</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420183 ">ADHD: Treatment and New Pathways</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420145 ">Acute Coronary Syndromes: Contemporary Approach</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420152 ">Acute Lymphoblastic Leukemia: A Clinical Study</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420169 ">Acute Phase Proteins</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420176 ">Addictions: Pathology and Physiology</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420190 ">Advanced Antiviral Drugs and Clinical Approaches</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420206 ">Advanced Approaches to Heart Transplantation</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420213 ">Advanced Concepts and Techniques of Cardiomyopathies</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420220 ">Advanced Concepts of Minimally Invasive Abdominal Surgery</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420237 ">Advanced Diagnosis of Coronary Atherosclerosis</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420244 ">Advanced Research in Histopathology</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420251 ">Advanced Research in Keratitis</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632424549 ">Advanced Researches in Bone Marrow and Stem Cells</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420268 ">Advanced Researches in Human Papillomavirus and Diseases</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420275 ">Advanced Studies in Huntington's Disease</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420282 ">Advanced Study of Neuromodulation Treatment</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420299 ">Advanced Topics in Artery Bypass</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420305 ">Advanced Topics of Embryonic Stem Cells</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420312 ">Advances and Researches in Neonatal Care</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420329 ">Advances in Capillary Electrophoresis</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632425003 ">Advances in Clinical Dentistry</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420336 ">Advances in Electrodiagnosis</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632424570 ">Advances in Immunology</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632424730 ">Advances in Liver Transplantation</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420343 ">Advances in Multiple Myeloma</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420350 ">Advances in Psoriasis Research</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420367 ">Advances in Renal Cell Carcinoma Research</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632424426 ">Advances in Sleep Disorders</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420374 ">Advances in Toxicity and Drug Testing</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420381 ">Affective Disorders</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632424884 ">Allergic Rhinitis: Current Scenario, Diagnosis and Therapy</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420398 ">Alzheimer's Disease</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420404 ">Amenorrhea: A Clinical Guide</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420411 ">Amyloidosis: History, Mechanism and Advances</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420428 ">An Integrated Approach to Dyslexia</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420435 ">An Integrated Approach to Renal Cell Carcinoma</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420442 ">An Integrated Study of Drug Metabolism</a>
                  </li>

                  <li> &nbsp;
                    <a href="/medical-science/9781632420459 ">An Introduction to Melanoma</a>
                  </li>

                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>

</html>
