<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container-fluid wrapper">
    <div class="row ">
      <section class="col-md-9 col-sm-9 margin_top5px ">
        <div id="bodydivs">
          <h1 class="sectionHeading">FEATURED BOOKS</h1>
          <div class="padding100px">

            <div class="col-md-12" id="paging_container3">
              <div class="alt_content mediaResults results">
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632424808-T-FC.jpg" alt="Current Progress in Hematology - 9781632424808" title="Current Progress in Hematology">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title" title="9781632424808">
                        <a href="#">Current Progress in Hemat...</a>
                      </h3>
                      <h4 class="author" title="&gt;Martha Roper">Martha Roper</h4>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632424808-T-FC.jpg" alt="Current Progress in Hematology - 9781632424808" title="Current Progress in Hematology">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title" title="9781632424808">
                        <a href="#">Current Progress in Hemat...</a>
                      </h3>
                      <h4 class="author" title="&gt;Martha Roper">Martha Roper</h4>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632424778-T-FC.jpg" alt="Chronic Pain: Assessment, Diagnosis and Treatment - 9781632424778"
                          title="Chronic Pain: Assessment, Diagnosis and Treatment">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title" title="9781632424778">
                        <a href="#">Chronic Pain: Assessment,...</a>
                      </h3>
                      <h4 class="author" title="&gt;Pam Kellner">Pam Kellner</h4>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632424778-T-FC.jpg" alt="Chronic Pain: Assessment, Diagnosis and Treatment - 9781632424778"
                          title="Chronic Pain: Assessment, Diagnosis and Treatment">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title" title="9781632424778">
                        <a href="#">Chronic Pain: Assessment,...</a>
                      </h3>
                      <h4 class="author" title="&gt;Pam Kellner">Pam Kellner</h4>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632424860-T-FC.jpg" alt="Arthritis: Pathophysiology and Therapeutics - 9781632424860" title="Arthritis: Pathophysiology and Therapeutics">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title" title="9781632424860">
                        <a href="#">Arthritis: Pathophysiolog...</a>
                      </h3>
                      <h4 class="author" title="&gt;Mary Kellar">Mary Kellar</h4>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632424860-T-FC.jpg" alt="Arthritis: Pathophysiology and Therapeutics - 9781632424860" title="Arthritis: Pathophysiology and Therapeutics">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title" title="9781632424860">
                        <a href="#">Arthritis: Pathophysiolog...</a>
                      </h3>
                      <h4 class="author" title="&gt;Mary Kellar">Mary Kellar</h4>
                    </div>
                  </article>
                </div>

                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632424723-T-FC.jpg" alt="Essentials of Physical Medicine and Rehabilitation - 9781632424723"
                          title="Essentials of Physical Medicine and Rehabilitation">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title" title="9781632424723">
                        <a href="#">Essentials of Physical Me...</a>
                      </h3>
                      <h4 class="author" title="&gt;Esther Henson">Esther Henson</h4>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632425102-T-FC.jpg" alt="Essentials of Pharmacology - 9781632425102" title="Essentials of Pharmacology">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title">
                        <a href="#">Essentials of Pharmacology</a>
                      </h3>
                      <h4 class="author" title="&gt;Brendon Krauss">Brendon Krauss</h4>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="http://www.fosteracademics.com/info/9781632425102">
                        <img src="./assets/images/9781632425102-T-FC.jpg" alt="Essentials of Pharmacology - 9781632425102" title="Essentials of Pharmacology">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title">
                        <a href="http://www.fosteracademics.com/info/9781632425102">Essentials of Pharmacology</a>
                      </h3>
                      <h4 class="author" title="&gt;Brendon Krauss">Brendon Krauss</h4>
                    </div>
                  </article>
                </div>
                <div class="col-sm-4 col-md-3">
                  <article class="result media-result ebook">
                    <div class="cover">
                      <a href="#">
                        <img src="./assets/images/9781632425072-T-FC.jpg" alt="Essentials of Pathology - 9781632425072" title="Essentials of Pathology">
                      </a>
                    </div>
                    <div class="details">
                      <h3 class="title" title="9781632425072">
                        <a href="#">Essentials of Pathology</a>
                      </h3>
                      <h4 class="author" title="&gt;Hans Affleck">Hans Affleck</h4>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</body>
<!-- <app-footer></app-footer> -->

</html>
