<app-header></app-header>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Foster Academics</title>
<!-- <link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css">-->
<link href="./assets/css/style.css" rel="stylesheet" type="text/css">
<!-- <link href="./assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
<!-- 
  <div class="clearfix"></div> -->
<!-- <div class="container-fluid wrapper"> -->
<!-- <div class="row "> -->
<app-leftnav></app-leftnav>

<!-- <section class="col-md-3 col-sm-3 margin_top5px">
  <div class="sidebar-nav">
    <h1 class="sectionHeading">BROWSE BY</h1>
    <div class="clearfix"></div>
    <div class="accordion visible-desktop" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle text_uppercase" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            subject
            <i class="pull-right">
              <i class="fa fa-angle-down"></i>
            </i>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <ul class="accordion-color">
              <li>
                <a title="Medical Science" [routerLink]="['med-sc']">Medical Science</a>
              </li>
              <li>
                <a title="Pharmaceutical Sciences" [routerLink]="['pharm-sc']">Pharmaceutical Sciences</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-heading">
        <a class="accordion-toggle text_uppercase" [routerLink]="['authors']">AUTHOR / EDITOR</a>
      </div>
      <div class="accordion-heading uppercase">
        <a class="accordion-toggle text_uppercase" [routerLink]="['books-by-title']">TITLE</a>
      </div>
    </div>
  </div>
</section> -->




<!-- </div> -->
<!-- <div>
    <section class="col-md-9 col-sm-9 margin_top5px ">
      <P>dffdfkdfkdffsfjjDKDKSDDS</P>
    </section>
  </div> -->
<!-- </div> -->
